 .u-section-1 {
  background-image: none;
  min-height: 1003px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 562px;
}

.u-section-1 .u-container-layout-1 {
  padding: 7px 30px;
}

.u-section-1 .u-group-1 {
  width: 512px;
  min-height: 38px;
  height: auto;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 auto 0 10px;
}

.u-section-1 .u-container-layout-2 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-text-1 {
  font-weight: 300;
  font-size: 1.5rem;
  margin: 0 80px 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 30px 10px 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 562px;
}

.u-section-1 .u-container-layout-3 {
  padding: 0;
}

.u-section-1 .u-group-2 {
  min-height: 59px;
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-4 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-text-3 {
  font-weight: 300;
  font-size: 1.5rem;
  margin: 0 10px;
}

.u-section-1 .u-image-1 {
  width: 112px;
  height: 114px;
  margin: 21px auto 0;
}

.u-section-1 .u-layout-wrap-2 {
  margin-left: 0;
  margin-top: 0;
  margin-bottom: 60px;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 360px;
}

.u-section-1 .u-container-layout-5 {
  padding: 7px 30px;
}

.u-section-1 .u-group-3 {
  width: 512px;
  min-height: 38px;
  height: auto;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 auto 0 10px;
}

.u-section-1 .u-container-layout-6 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-text-4 {
  font-weight: 300;
  font-size: 1.5rem;
  margin: 0 80px 0 0;
}

.u-section-1 .u-text-5 {
  font-size: 1.5rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 30px 28px 0 10px;
}

.u-section-1 .u-group-4 {
  width: 512px;
  min-height: 38px;
  height: auto;
  margin: 0 auto 0 10px;
}

.u-section-1 .u-container-layout-7 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-text-6 {
  font-weight: 300;
  font-size: 1.5rem;
  margin: 0 80px 0 0;
}

.u-section-1 .u-image-2 {
  width: 155px;
  height: 156px;
  margin: 46px auto 44px calc(((100% - 1140px) / 2)  + 200px);
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 987px;
  }

  .u-section-1 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 297px;
  }

  .u-section-1 .u-group-2 {
    height: auto;
  }

  .u-section-1 .u-text-3 {
    width: auto;
  }

  .u-section-1 .u-layout-wrap-2 {
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 297px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-top: 6px;
  }

  .u-section-1 .u-group-3 {
    margin-top: 21px;
    height: auto;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-top: 21px;
    margin-right: 0;
  }

  .u-section-1 .u-group-4 {
    height: auto;
  }

  .u-section-1 .u-image-2 {
    margin-top: 60px;
    margin-left: calc(((100% - 940px) / 2)  + 100px);
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 1274px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 582px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 80px;
    margin-left: 2px;
  }

  .u-section-1 .u-image-1 {
    width: 96px;
    height: 98px;
    margin-left: 27px;
  }

  .u-section-1 .u-layout-wrap-2 {
    margin-bottom: 0;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 392px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-group-3 {
    margin-top: 7px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 0;
  }

  .u-section-1 .u-group-4 {
    margin-right: 238px;
    margin-bottom: -30px;
  }

  .u-section-1 .u-image-2 {
    margin-left: calc(((100% - 720px) / 2)  + -10px);
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 1132px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 506px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-group-1 {
    margin-left: 8px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.25rem;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 314px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-group-3 {
    margin-left: 8px;
  }

  .u-section-1 .u-text-5 {
    font-size: 1.25rem;
  }

  .u-section-1 .u-group-4 {
    margin-right: 8px;
    margin-left: 0;
  }

  .u-section-1 .u-image-2 {
    margin-bottom: 60px;
    margin-left: calc(((100% - 540px) / 2)  + -32px);
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 1424px;
  }

  .u-section-1 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 835px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-group-1 {
    min-height: 34px;
    width: 377px;
    margin-right: 53px;
    margin-left: 10px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.25rem;
    width: auto;
    margin-right: 10px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 2px;
  }

  .u-section-1 .u-layout-wrap-2 {
    margin-top: -12px;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 353px;
  }

  .u-section-1 .u-group-3 {
    width: 377px;
    min-height: 34px;
    margin-top: 1px;
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    margin-right: 0;
  }

  .u-section-1 .u-text-5 {
    margin-top: 34px;
  }

  .u-section-1 .u-group-4 {
    width: 377px;
    min-height: 34px;
    margin-right: 0;
  }

  .u-section-1 .u-text-6 {
    margin-right: 0;
  }

  .u-section-1 .u-image-2 {
    margin-left: calc(((100% - 340px) / 2)  + -32px);
  }
}